In [89]:
## Importamos las librerias necesarias para la Normalizacion

import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [90]:
## Leo el CSV
amazon= pd.read_csv('amazon_prime_titles-score.csv')

In [91]:
## Con un Head puedo ver la data
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [92]:
## Primer transformacion: agrego la columa id que incluye la primer letra de la plataforma mas showid
amazon['id']= 'a'+amazon['show_id']

In [93]:
## Verifico la columna ingresada
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27,as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75,as5

In [94]:
## Listo los valores nulos para chequearlos antes de quitarlos
amazon.isna().sum ()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
score              0
id                 0
dtype: int64

In [95]:
## Reemplazo los valores nulos en las columna rating por 'G'
amazon['rating']= amazon ['rating'].fillna('G')

In [96]:
## Visualizo el cambio 
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27,as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75,as5

In [97]:
## Ahora chequeo que no queden NAN en la columna rating
amazon.isna().sum ()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating             0
duration           0
listed_in          0
description        0
score              0
id                 0
dtype: int64

In [98]:
## Miro el tipo de dato de la columna date_added que es la que contiene fechas y veo que es objet
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9668 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
 13  id            9668 non-null   object
dtypes: int64(2), object(12)
memory usage: 1.0+ MB

In [99]:
## Paso la columna date_added a fecha
amazon['date_added']= pd.to_datetime(amazon['date_added'])

In [100]:
## Visualizo el cambio
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27,as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75,as5

In [101]:
## Lo chequeo nuevamente para ver que cambie el tipo de dato
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    datetime64[ns]
 7   release_year  9668 non-null   int64
 8   rating        9668 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
 13  id            9668 non-null   object
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 1.0+ MB

In [102]:
## Ahora paso los campos del texto a minusculas
## Todo lo que es de tipo objet paso a minuscula

amazon['show_id']= amazon['show_id'].str.lower()
amazon['type']= amazon['type'].str.lower()
amazon['title']= amazon['title'].str.lower()
amazon['director']= amazon['director'].str.lower()
amazon['cast']= amazon['cast'].str.lower()
amazon['country']= amazon['country'].str.lower()
amazon['rating']= amazon['rating'].str.lower()
amazon['duration']= amazon['duration'].str.lower()
amazon['listed_in']= amazon['listed_in'].str.lower()
amazon['description']=amazon['description'].str.lower()
amazon['id']= amazon['id'].str.lower()

In [103]:
## Visualizo el Cambio
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5

In [104]:
## El campo duracion debe convertirse en dos campos: duration_inty duration_type. El primero será un entero y 
# el segundo una cadena indicando la unidad de medición de duración: 
# min (minutos) o temporada (temporadas)

amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', n=-1, expand=True)
amazon= amazon[amazon.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon.columns[10:-2].tolist()]

In [105]:
## Visualizo la transformacion anterior
amazon[['duration_int', 'duration_type']].head()

  duration_int duration_type
0          113           min
1          110           min
2           74           min
3           69           min
4           45           min

In [106]:
## Cambio el tipo de dato de duration_int a entero

amazon['duration_int']=amazon['duration_int'].astype ('int64')

In [107]:
## Visualizo el tipo de dato

amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       7586 non-null   object
 4   cast           8435 non-null   object
 5   country        672 non-null    object
 6   date_added     155 non-null    datetime64[ns]
 7   release_year   9668 non-null   int64
 8   rating         9668 non-null   object
 9   duration       9668 non-null   object
 10  duration_int   9668 non-null   int64
 11  duration_type  9668 non-null   object
 12  listed_in      9668 non-null   object
 13  description    9668 non-null   object
 14  score          9668 non-null   int64
 15  id             9668 non-null   object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 1.2+ MB

In [108]:
## Visualizo la data
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,score,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,113,min,"comedy, drama",a small fishing village must procure a local d...,99,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,110,min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,69,min,documentary,"pink breaks the mold once again, bringing her ...",27,as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5

Aca chequeo los valores existentes en la columna duration_type

In [109]:
## Aca chequeo los valores existentes en la columna duration_type
amazon['duration_type'].unique()

array(['min', 'season', 'seasons'], dtype=object)

In [110]:
## Aca reemplazo seasons y le saco la "s"
amazon['duration_type']= amazon['duration_type'].replace ({'seasons':'season'})

In [111]:
## verifico que ahora solo existan dos
amazon['duration_type'].unique()

array(['min', 'season'], dtype=object)

In [113]:
## Visualizo la data
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,score,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,113,min,"comedy, drama",a small fishing village must procure a local d...,99,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,110,min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,69,min,documentary,"pink breaks the mold once again, bringing her ...",27,as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5

In [114]:
## verifico el tipo de datos
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       7586 non-null   object
 4   cast           8435 non-null   object
 5   country        672 non-null    object
 6   date_added     155 non-null    datetime64[ns]
 7   release_year   9668 non-null   int64
 8   rating         9668 non-null   object
 9   duration       9668 non-null   object
 10  duration_int   9668 non-null   int64
 11  duration_type  9668 non-null   object
 12  listed_in      9668 non-null   object
 13  description    9668 non-null   object
 14  score          9668 non-null   int64
 15  id             9668 non-null   object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 1.2+ MB

In [115]:
## Aplico todas las transformaciones para la plataforma disney


disney= pd.read_csv('disney_plus_titles-score.csv')
disney['id']= 'd'+disney['show_id']
disney['rating']= disney ['rating'].fillna('G')
disney['date_added']= pd.to_datetime(disney['date_added'])
disney['show_id']= disney['show_id'].str.lower()
disney['type']= disney['type'].str.lower()
disney['title']= disney['title'].str.lower()
disney['director']= disney['director'].str.lower()
disney['cast']= disney['cast'].str.lower()
disney['country']= disney['country'].str.lower()
disney['rating']= disney['rating'].str.lower()
disney['duration']= disney['duration'].str.lower()
disney['listed_in']= disney['listed_in'].str.lower()
disney['description']=disney['description'].str.lower()
disney['id']= disney['id'].str.lower()
disney[['duration_int', 'duration_type']] = disney['duration'].str.split(' ', n=-1, expand=True)
disney= disney[disney.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney.columns[10:-2].tolist()]
disney['duration_int']=disney['duration_int'].astype ('int64')
disney[['duration_int', 'duration_type']].head()
disney['duration_type']=disney['duration_type'].replace ({'seasons':'season'})

In [116]:
## Verifico el tipo de dato
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        1450 non-null   object
 1   type           1450 non-null   object
 2   title          1450 non-null   object
 3   director       977 non-null    object
 4   cast           1260 non-null   object
 5   country        1231 non-null   object
 6   date_added     1447 non-null   datetime64[ns]
 7   release_year   1450 non-null   int64
 8   rating         1450 non-null   object
 9   duration       1450 non-null   object
 10  duration_int   1450 non-null   int64
 11  duration_type  1450 non-null   object
 12  listed_in      1450 non-null   object
 13  description    1450 non-null   object
 14  score          1450 non-null   int64
 15  id             1450 non-null   object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 181.4+ KB

In [120]:
## Realizo las transformaciones para la plataforma Hulu

hulu= pd.read_csv('hulu_titles-score (2).csv')

hulu['id']= 'h'+hulu['show_id']
hulu['rating']= hulu['rating'].fillna('G')
hulu['date_added']= pd.to_datetime(hulu['date_added'])
hulu['cast']=hulu['cast'].astype (object)


## Es necesario cambiar el tipo de dato de 'cast' para poder pasar todo a minusculas

In [121]:
hulu['show_id']= hulu['show_id'].str.lower()
hulu['type']=hulu['type'].str.lower()
hulu['title']= hulu['title'].str.lower()
hulu['director']= hulu['director'].str.lower()
hulu['cast']= hulu['cast'].str.lower()
hulu['country']= hulu['country'].str.lower()
hulu['rating']= hulu['rating'].str.lower()
hulu['duration']= hulu['duration'].str.lower()
hulu['listed_in']= hulu['listed_in'].str.lower()
hulu['description']=hulu['description'].str.lower()
hulu['id']= hulu['id'].str.lower()

In [122]:
hulu[['duration_int', 'duration_type']] = hulu['duration'].str.split(' ', n=-1, expand=True)
hulu= hulu[hulu.columns[:10].tolist() + ['duration_int', 'duration_type'] +hulu.columns[10:-2].tolist()]
hulu[['duration_int', 'duration_type']].head()
hulu['duration_int']=hulu['duration_int'].fillna(0)
hulu['duration_int']=hulu['duration_int'].astype ('int64')
hulu['duration_type']=hulu['duration_type'].replace ({'seasons':'season'})

In [123]:
## Chequeo el tipo de dato

hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        3073 non-null   object
 1   type           3073 non-null   object
 2   title          3073 non-null   object
 3   director       3 non-null      object
 4   cast           0 non-null      object
 5   country        1620 non-null   object
 6   date_added     3045 non-null   datetime64[ns]
 7   release_year   3073 non-null   int64
 8   rating         3073 non-null   object
 9   duration       2594 non-null   object
 10  duration_int   3073 non-null   int64
 11  duration_type  2594 non-null   object
 12  listed_in      3073 non-null   object
 13  description    3069 non-null   object
 14  score          3073 non-null   int64
 15  id             3073 non-null   object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 384.2+ KB

In [124]:
## Ahora realizo las transformaciones para la plataforma Netflix

netflix= pd.read_csv('netflix_titles-score.csv')
netflix['id']= 'n'+netflix['show_id']
netflix['rating']= netflix['rating'].fillna('G')
netflix['date_added']= pd.to_datetime(netflix['date_added'])
netflix['show_id']= netflix['show_id'].str.lower()
netflix['type']= netflix['type'].str.lower()
netflix['title']= netflix['title'].str.lower()
netflix['director']= netflix['director'].str.lower()
netflix['cast']= netflix['cast'].str.lower()
netflix['country']= netflix['country'].str.lower()
netflix['rating']= netflix['rating'].str.lower()
netflix['duration']= netflix['duration'].str.lower()
netflix['listed_in']= netflix['listed_in'].str.lower()
netflix['description']=netflix['description'].str.lower()
netflix['id']= netflix['id'].str.lower()
netflix[['duration_int', 'duration_type']] = netflix['duration'].str.split(' ', n=-1, expand=True)
netflix= netflix[netflix.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix.columns[10:-2].tolist()]
netflix[['duration_int', 'duration_type']].head()
netflix['duration_int']=netflix['duration_int'].fillna(1)
netflix['duration_int']=netflix['duration_int'].astype ('int64')
netflix['duration_type']=netflix['duration_type'].replace ({'seasons':'season'})

In [125]:
## Verifico el tipo de datos

netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8807 non-null   object
 1   type           8807 non-null   object
 2   title          8807 non-null   object
 3   director       6173 non-null   object
 4   cast           7982 non-null   object
 5   country        7976 non-null   object
 6   date_added     8797 non-null   datetime64[ns]
 7   release_year   8807 non-null   int64
 8   rating         8807 non-null   object
 9   duration       8804 non-null   object
 10  duration_int   8807 non-null   int64
 11  duration_type  8804 non-null   object
 12  listed_in      8807 non-null   object
 13  description    8807 non-null   object
 14  score          8807 non-null   int64
 15  id             8807 non-null   object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 1.1+ MB

In [126]:
## Concateno los 3 dataframes en uno solo

df= pd.concat([amazon,disney, hulu, netflix ], axis= 0)

In [127]:
## Verifico con las ultimas lineas
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,score,id
8802,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,158,min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",20,ns8803
8803,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,2,season,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",8,ns8804
8804,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,88,min,"comedies, horror movies",looking to survive in a world taken over by zo...,55,ns8805
8805,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,88,min,"children & family movies, comedies","dragged from civilian life, a former superhero...",7,ns8806
8806,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,111,min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,44,ns8807

In [128]:
## Verifico el tipo de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22516 non-null  object
 10  duration_int   22998 non-null  int64
 11  duration_type  22516 non-null  object
 12  listed_in      22998 non-null  object
 13  description    22994 non-null  object
 14  score          22998 non-null  int64
 15  id             22998 non-null  object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 3.0+ MB

In [129]:
## Exporto a csv el dataframe completo
df.to_csv('peliculasyseries.csv', index= False)